.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 20px 0px;
  z-index: 10;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
  }

  &__logo {
    img {
      max-width: 147px;
    }
  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex: 1 1 0;
    a {
      color: rgba(15, 27, 51, 0.8);
      font-size: 14px;
      font-weight: 400;
      line-height: 120%;
      @include hover() {
        color: #125d9f;
      }
    }
  }

  &__action {
    display: flex;
    align-items: center;
    gap: 8px;

    .btn-outline,
    .btn {
      display: inline-flex;
      width: auto;
      padding: 15px 24px;
      font-size: 14px;
    }
  }
  &__burger {
    background: transparent;
    display: none;
  }
}

@include media-tablet-horizontal {
  .header {
    padding: 16px 0px;

    &__logo {
      img {
        max-width: 115px;
      }
    }

    &__menu {
      display: none;
    }

    &__action {
      display: none;
    }
    &__burger {
      display: flex;
    }
  }
}

@include media-mobile-horizontal {
  .header {
    padding: 12px 0px;

    &__logo {
      img {
        max-width: 103px;
      }
    }

    &__burger {
      svg {
        width: 28px;
        height: 28px;
      }
    }
  }
}
