.procces {
  margin: 120px 0;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    align-self: stretch;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    h2 {
      margin: 0;
      text-align: center;
      font-size: 56px;
      font-weight: 500;
      line-height: 84%;
      letter-spacing: -1.68px;
      background: linear-gradient(90deg, #0f1b33 0%, #3d5d9c 99.6%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    p {
      margin: 0;
      max-width: 800px;
      color: rgba(15, 27, 51, 0.8);
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 120%;
    }
  }

  &__label {
    color: #28af4c;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    display: inline-flex;
    padding: 8px 12px;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    background: linear-gradient(90deg, rgba(40, 175, 76, 0.12) 0%, rgba(40, 175, 76, 0) 100%);
  }

  &__wrapper {
    display: flex;
    align-items: stretch;
    align-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__card {
    position: relative;
    overflow: hidden;
    flex: 1 1 calc(33.33% - 20px);
    display: flex;
    padding: 32px 32px 156px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid rgba(15, 27, 51, 0.04);
    background: rgba(235, 242, 255, 0.4);
    &:nth-child(2) {
      background: linear-gradient(90deg, #2f94ef 0%, #b0d6f8 100%);
      h3,
      p {
        color: #fff;
        background: transparent;
        background-clip: none;
      }
    }
    &:nth-child(3) {
      border: 1px solid #0f1b33;
      background: #fff;
    }
    &:nth-child(4) {
      background: linear-gradient(90deg, #0f1b33 0%, #3d5d9c 99.6%);
      h3,
      p {
        color: #fff;
      }
    }
    &:nth-child(6) {
      background: linear-gradient(90deg, #0f3619 0%, #3c9d56 99.6%);
      h3,
      p {
        color: #fff;
      }
    }
    h3 {
      margin: 0;
      align-self: stretch;
      font-size: 28px;
      line-height: 94%;
      font-weight: 500;
      letter-spacing: -0.56px;
      background: linear-gradient(90deg, #0f1b33 0%, #3d5d9c 99.6%);
      background-clip: text;
    }
    p {
      margin: 0;
      align-self: stretch;
      color: rgba(15, 27, 51, 0.8);
      font-size: 16px;
      font-weight: 400;
      line-height: 120%;
    }
  }

  &__numbers {
    position: absolute;
    right: 0;
    bottom: -58px;
    display: block;
    font-size: 222px;
    font-weight: 900;
    line-height: 84%;
    letter-spacing: -6.66px;
    color: rgba(0, 0, 0, 0.05);
  }
}

@include media-tablet-horizontal {
  .procces {
    margin: 100px 0;

    &__header {
      h2 {
        font-size: 42px;
      }
    }

    &__wrapper {
      gap: 12px;
    }

    &__card {
      flex: 1 1 calc(50% - 12px);
      padding: 24px 24px 150px;
      h3 {
        font-size: 24px;
      }
    }
  }
}

@include media-mobile-horizontal {
  .procces {
    margin: 70px 0;
    &__container {
      gap: 32x;
    }
    &__label {
      font-size: 10px;
    }
    &__header {
      h2 {
        font-size: 28px;
      }
      p {
        font-size: 14px;
      }
    }

    &__card {
      flex: 1 1 100%;
      padding: 16px 16px 150px;
      gap: 12px;
      border-radius: 16px;
      h3 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
      }
    }
    &__numbers {
      font-size: 158px;
      bottom: -18px;
    }
  }
}
