.popup {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: visibility 0.5s ease 0s;
  visibility: hidden;
  z-index: 9999;
}

.popup::before {
  content: '';
  background: rgba(16, 12, 12, 0.6);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  transition: all 0.5s ease 0.2s;
  transform: scale(1);
}

.popup__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__body {
  max-width: 380px;
  padding: 50px 40px;
  width: 100%;
  transform: scale(0);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease 0s;
  background: #fff;
  border-radius: 10px;
  &._big {
    max-width: 610px;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .popup__body {
    padding: 30px 15px;
  }
}

.popup__close {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  z-index: 30;
  background: transparent;
}

.popup__close::after,
.popup__close::before {
  content: '';
  display: block;
  width: 20px;
  height: 3px;
  background: #4e6277;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.3s ease 0s;
}

.popup__close::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.popup__close::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup__close:hover::after,
.popup__close:hover::before,
.popup__close:focus-visible::after,
.popup__close:focus-visible::before {
  background: #1e7afd;
}

.popup__title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 15px;
  text-align: center;
}

.popup__text {
  margin: 0 auto;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.popup__form {
  margin-top: 30px;
}

.popup__form .btn {
  width: 100%;
}

.wpcf7 form .wpcf7-response-output {
  display: none !important;
}
