.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 18px;
  flex: 0 0 auto;
  input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    &:checked + .switch__slider {
      background: #28af4c;
    }
    &:checked + .switch__slider::before {
      transform: translateX(10px);
    }
  }
  &__slider {
    position: absolute;
    inset: 0;
    cursor: pointer;
    background: rgba(#0f1b33, 0.16);
    border-radius: 999px;
    transition: 0.2s ease;
    &::before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      left: 1px;
      top: 1px;
      background: #ffffff;
      border-radius: 50%;
      transition: 0.2s ease;
    }
  }
}
